.flex {
  display: flex;

  > *.full {
    flex: 1;
  }

  &.column {
    flex-direction: column;
  }

  &.justify-center {
    justify-content: center;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.align-center {
    align-items: center;
  }
}

.font-Gilmer-Outline {
  font-family: Gilmer-Outline, sans-serif;
}

.font-Gilmer-Bold {
  font-family: Gilmer-Bold, sans-serif;
}

.font-Gilmer-Light {
  font-family: Gilmer-Light, sans-serif;
}

.font-Gilmer-Medium {
  font-family: Gilmer-Medium, sans-serif;
}

.font-Gilmer-Heavy {
  font-family: Gilmer-Heavy, sans-serif;
}

.clean-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
