@font-face {
  font-family: gilmer-light;
  src: url(/public/fonts/gilmer/Gilmer-Light.ttf);
}

@font-face {
  font-family: gilmer-medium;
  src: url(/public/fonts/gilmer/Gilmer-Medium.ttf);
}

@font-face {
  font-family: gilmer-bold;
  src: url(/public/fonts/gilmer/Gilmer-Bold.ttf);
}

@font-face {
  font-family: gilmer-heavy;
  src: url(/public/fonts/gilmer/Gilmer-Heavy.ttf);
}

@font-face {
  font-family: gilmer-outline;
  src: url(/public/fonts/gilmer/Gilmer-Outline.ttf);
}
