.carousel {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 130px;
  padding-block-start: 50px;

  @include for-mobile-layout {
    height: 200px;
  }

  @include for-table-layout {
    height: 250px;
  }

  @include for-narrow-layout {
    height: 360px;
    padding-block-start: 90px;
  }

  @include for-wide-layout {
    padding-block-start: 110px;
  }

  @include for-full-layout {
    height: 450px;
  }

  img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
    width: 60px;
    height: 60px;

    @include for-mobile-layout {
      width: 90px;
      height: 90px;
    }

    @include for-table-layout {
      width: 120px;
      height: 120px;
    }

    @include for-narrow-layout {
      width: 170px;
      height: 170px;
    }

    @include for-full-layout {
      width: 200px;
      height: 200px;
    }

    &.current {
      opacity: 0.5;
      scale: 1.1;
      transform: translate(-40%);
      animation: fadeInCurrant 0.5s forwards;

      @keyframes fadeInCurrant {
        to {
          opacity: 1;
        }
      }
    }

    &.prev {
      opacity: 1;
      transform: translateX(-200%);
      animation: fadeInPrev 0.5s forwards;

      @keyframes fadeInPrev {
        to {
          opacity: 0.5;
        }
      }
    }

    &.next {
      opacity: 0.2;
      transform: translatex(100%);
      animation: fadeInNext 0.5s forwards;

      @keyframes fadeInNext {
        to {
          opacity: 0.5;
        }
      }
    }

    &.semi-hidden {
      &.after {
        opacity: 0;
        transform: translatex(250%);

        @include for-table-layout {
          animation: fadeInAfter 2.5s forwards;
        }

        animation: fadeInAfter 0s forwards;

        @keyframes fadeInAfter {
          to {
            opacity: 0.2;
          }
        }
      }

      &.before {
        opacity: 0.5;
        transform: translatex(-350%);
        animation: fadeOut 2.5s forwards;

        @keyframes fadeOut {
          to {
            opacity: 0;
          }
        }
      }
    }
  }
}
