@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.avatar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .MuiAvatar-root {
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
  }

  .personal-blog button {
    opacity: 0;
    animation: fadeIn 1s ease-out 0.5s forwards; // Delayed to start after the avatar

    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: white;
    background: rgb(0, 184, 124);
    line-height: 1.15;
    font-size: 16px;
    :hover {
      transition: all 0.1s ease;
      box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
    }
  }
}
