@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.avatar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .custom-avatar {
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;

    @include for-mobile-layout {
      width: 3.5rem !important;
      height: 3.5rem !important;
    }

    @include for-narrow-layout {
      width: 4rem !important;
      height: 4rem !important;
    }

    @include for-wide-layout {
      width: 6rem !important;
      height: 6rem !important;
    }
  }

  .work-status {
    .dash {
      background-color: $font-clr1;
      width: 1rem;
      height: 1px;

      @include for-narrow-layout {
        width: 2.5rem;
      }
    }

    p {
      color: $font-clr1;
      font-size: 0.75rem;
      line-height: 1rem;
      margin-inline-start: 0.5rem;
      transition: color 0.3s;

      @include for-narrow-layout {
        font-size: 1rem;
        line-height: 1.5rem;
      }

      @include for-desktop-layout {
        font-size: 1.125rem;
        line-height: 1.75rem;
      }

      &:hover {
        color: rgb(238 161 190);
      }
    }
  }
}
