.projects-list {
  .project {
    flex-direction: column;
    text-wrap: wrap;
    margin-block-start: 5rem;

    @include for-table-layout {
      margin-block-start: 10rem;
    }
    @include for-desktop-layout {
      margin-block-start: 12rem;
    }

    @include for-wide-layout {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &.reverse {
        flex-direction: row-reverse;

        .info-container {
          margin-inline-end: 8px;
          text-align: left;

          .github-container {
            justify-content: flex-start;
          }
        }
      }
    }

    .proj-img-container {
      height: 250px;

      @include for-table-layout {
        height: 300px;
      }
      @include for-narrow-layout {
        height: 350px;
      }
      @include for-wide-layout {
        height: 400px;
      }
      @include for-full-layout {
        height: 500px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          filter: brightness(90%);
        }
      }
    }
    .info-container {
      @include for-wide-layout {
        margin-inline-start: 8px;
        text-align: right;
      }
      .title {
        display: inline-block;
        text-decoration: underline;
        cursor: pointer;
        color: $font-clr1;
        font-size: 1.5rem;
        line-height: 2rem;
        margin-block-start: 1.25rem;
        transition: 0.2s;

        @include for-table-layout {
          font-size: 1.875rem;
          line-height: 2.25rem;
        }
        @include for-wide-layout {
          font-size: 2.25rem;
          line-height: 2.5rem;
          margin-block-start: 0;
        }
        @include for-full-layout {
          font-size: 3rem;
          line-height: 1;
        }
        &:hover {
          filter: brightness(80%);
        }
      }
      .description {
        color: $font-clr4;
        font-size: 0.875rem;
        line-height: 1.25rem;
        margin-block-start: 8px;

        @include for-mobile-layout {
          font-size: 1rem;
          line-height: 1.5rem;
        }

        @include for-table-layout {
          font-size: 1.25rem;
          line-height: 1.75rem;
          margin-block-start: 12px;
        }

        @include for-wide-layout {
          margin-block-start: 16px;
        }
      }
      .github-container {
        // margin-block-start: 8px;
      }
    }
  }
}
